<form>
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Create PayRate Rule</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Driver Name</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Division/Company Name</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Regular Pay Rate[Day Shift]</label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">OverTime Pay Rate[Day Shift] </label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Regular Pay Rate[Evening Shift]</label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">OverTime Pay Rate[Evening Shift] </label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Regular Pay Rate[Night Shift]</label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">OverTime Pay Rate[Night Shift] </label>
            </div>
            <div class="col-10 pb-3">

                <input class="form-control" />
            </div>
          

            <div class="col-5 offset-2">

                <a class="btn-primary btn form-control " href="./Privacy">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>
